body {
  font-family: "ArialRoundedMTBold", sans-serif;
  font-size: 14px;
  color: #000000;
  height:100%;
}

h1{
  font-size: 50px;
}


h2{
  text-align:left;
}

a {
  color:black;
  text-decoration: none;
}

a:hover {
 color: orange;
 text-decoration: none;
}

a:visited {
 color: black;
}

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

#wrapper {
  width: 902px;
}


#quotebox {
  width: 400px;
  margin-left: 40px;
}


#textwrapper {
  width: 1000px;
  padding: 20px 20px 20px;
      text-align: justify;
}

#title {
  font-family: "ArialRoundedMTBold", sans-serif;
  letter-spacing: -2px;
  margin: 0 0 10px 0;
  padding: 6px 6px 8px;
/*  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;*/
/*  //line-height: 1.2;*/
}

.titlelink {
  text-decoration: none;
}

.titlelink:hover {
 color: orange;
 text-decoration: none;
}

#textlink{
    text-decoration:none;
}

#colours{
  top:220px;
  width: 500px;
  left:100px;
  position:absolute;
  display:inline-grid;
  grid-row-gap: 18px;
  grid-template-columns: auto auto auto;
}

#colourtitle{
  top:100px;
  width: 500px;
  left:100px;
  position:absolute;
}

#pots {
  top:100px;
  width: 500px;
  left:700px;
  position:absolute;
}

.container {
  position: relative;
  width: 200px;
}

.colcontainer {
  position:relative;
  width: 150px;
  height:150px;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  text-align: center;
  font-size: 30px;
}

.container:hover .overlay {
  opacity: 0.8;
}

.colcontainer:hover .overlay {
  opacity: 0.8;
}

#titlesdiv{
    left: 800px;
    top:50px;
    position: absolute;
    z-index:1;
}

#textdiv{
    font-size: 20px;
    text-align: justify;
    left: 800px;
    top:210px;
    position: absolute;
    min-width: 400px;
    max-width: 500px;
    padding-right: 50px;
    z-index:1;
}


#headingdiv{
    left:100px;
    top:50px;
    width:650px;
    font-size: 60px;
    line-height: 0.8;
    position: absolute;
    z-index:1;
}

#aboutlink{
    right:100px;
    top:50px;
    width:650px;
    font-size: 50px;
    line-height: 0.8;
    position: absolute;
    text-align: right;
    z-index:1;
}

.aboutbox{
    right:100px;
    top:100px;
    width:300px;
    font-size: 20px;
    position: absolute;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    z-index:2;
}

#colourbox {
    left:100px;
    top:200px;
    width:300px;
}

#potbox {
    left:700px;
    top:200px;
    width:300px;
}

.abouttext{
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}


.mainimg {
    position: fixed;
    overflow: hidden;
    bottom:0;
}
